a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
nav {
  padding: 12px;  
}
nav a{
    margin-right: 10px
}
.main {
  width: 80vw;
  margin: auto;
  padding: 10px;
  margin-top: 5px;
}

h2{
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: justify;
}
.content{
    padding-bottom: 20px;
}
.content h3, p, button{
    margin-left: 10px;
    margin-top: 10px;
}
img{
    width: 100%;
}