a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  
}
button a, a:hover,
a:active,
a:visited{
    color: black;
}
button{
    margin-top: 10px;
}
.main {
  padding: 10px;
  margin-top: 5px;
}

.feher{
    color: white;
}
h2{
    text-align: center;
}
.main{
    width: 80vw;
    margin: auto;
    margin-top: 5px;
}
img{
    width: 100%;
}